.header {
  flex: 1;
  background-color: navy;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0px 20px;
}

.lightModeBtn {
  color: white;
  cursor: pointer;
}

.btns {
  display: flex;
  list-style: none;
}

.all,
.active,
.completed {
  margin-left: 10px;
  color: orange;
  font-weight: bold;
  cursor: pointer;
}
