.footer {
  flex: 1;
  background-color: blueviolet;
  display: flex;
  background-color: navy;
}

.container {
  display: flex;
  width: 100%;
  margin: 10px 10px;
}

.input {
  flex: 8;
}

.addBtn {
  flex: 2;
  color: white;
  display: flex;
  justify-content: center;
  background-color: orange;
  cursor: pointer;
}
